.buttonCalc {
    flex: 0 0 15.5%;
    padding: 1rem;
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
    color: #fff;
    border-radius: 0.25rem;
    background-color: #31475e;
}

.buttonCalc.operator {
    background-color: #3f76b9;
}

.buttonCalc:hover {
    cursor: pointer;
    background-color: #3d4975;
}